.mat-dialog-content {
  text-align: center;
}

.cancelButton{
  color: white;
}

button {
  width: 100%;
  margin: 5px 0;
  background-color: #25d366;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #1ebc58;
  color: white;
}
